<div class="row gap-3">
  <h1 class="p-0 fw-light">Gerencie o seu dia-a-dia com a nossa ajuda.</h1>

  <mat-card
    routerLink="/medicos/listar"
    appCardHover
    class="col-12 col-md-6 col-lg-3 d-grid gap-2"
  >
    <mat-card-header>
      <mat-card-title class="fs-5">Médicos</mat-card-title>
      <mat-icon class="ms-auto">perm_identity</mat-icon>
    </mat-card-header>

    <mat-card-content>
      <span class="fs-6">Cadastre Médicos</span>
    </mat-card-content>
  </mat-card>

  <mat-card
    routerLink="/consultas/listar"
    appCardHover
    class="col-12 col-md-6 col-lg-3 d-grid gap-2"
  >
    <mat-card-header>
      <mat-card-title class="fs-5">Consultas</mat-card-title>
      <mat-icon class="ms-auto">event</mat-icon>
    </mat-card-header>

    <mat-card-content>
      <span class="fs-6"
        >Agende Consultas</span
      >
    </mat-card-content>
  </mat-card>

  <mat-card
    routerLink="/cirurgias/listar"
    appCardHover
    class="col-12 col-md-6 col-lg-3 d-grid gap-2"
  >
    <mat-card-header>
      <mat-card-title class="fs-5">Cirurgias</mat-card-title>
      <mat-icon class="ms-auto">today</mat-icon>
    </mat-card-header>

    <mat-card-content>
      <span class="fs-6"
        >Agende Cirurgias</span
      >
    </mat-card-content>
  </mat-card>
</div>