<section class="mt-5">
  <div class="container">
    <div class="card">
      <div class="row align-items-md-start gy-5 p-5">
        <div class="col-12 col-md-7 d-flex flex-column justify-content-between">
          <div>
            <h1 class="card-title fw-bold text-primary">e-Agenda Médica</h1>
            <div class="fs-5">
              <p class="mt-4">
                O <span class="text-warning fw-bold">e-Agenda médica</span> busca agilizar o gerenciamento da rotina diária ao facilitar o acesso e controle de agendamento de consultas e cirurgias.
              </p>
              <p class="text-primary fw-bold">O que você deseja gerenciar?</p>
            </div>
          </div>
          <div>
            <a class="btn btn-primary" routerLink="/medicos/listar">
              <i class="bi bi-person me-2"></i>Médicos
            </a>
            <a class="btn btn-primary" routerLink="/cirurgias/listar">
              <i class="bi bi-tools me-2"></i>Cirurgias
            </a>
            <a class="btn btn-primary" routerLink="/consultas/listar">
              <i class="bi bi-calendar me-2"></i>Consultas
            </a>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <img src="/assets/dashboard-image.svg" class="img-fluid rounded" alt="Imagem do Dashboard" />
        </div>
      </div>
    </div>
  </div>
</section>

