<div class="row justify-content-center mt-5">
  <div class="col-md-8 d-grid gap-3 ps-0">
    <h1 class="fs-2 row justify-content-center ">
      Lista de Cirurgias Agendadas
    </h1>

    <button
      routerLink="/cirurgias/inserir"
      mat-raised-button
      class="me-auto py-4 px-5 fs-6"
      color="primary"
    >
      <mat-icon>add</mat-icon>
      Nova Cirurgia
    </button>

    <div class="row gap-3">
      <mat-card
        *ngFor="let cirurgia of cirurgia$ | async"
        appCardHover
        class="col-12 col-md-6 col-lg-3"
      >
        <mat-card-header>
          <mat-card-title>
            <span>{{ cirurgia.titulo }}</span>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content> </mat-card-content>

        <mat-card-header>
          <mat-card-title>
            <span>{{ cirurgia.data}}</span>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content> </mat-card-content>

        <mat-card-header>
          <mat-card-title>
            <span>{{ cirurgia.horaInicio}}</span>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content> </mat-card-content>

        <mat-card-header>
          <mat-card-title>
            <span>{{ cirurgia.horaTermino}}</span>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content> </mat-card-content>

        <mat-card-actions class="pe-0" align="end">

          <button
            mat-icon-button
            matTooltip="VerMedicos"
            color="primary"
            routerLink="/cirurgias/medicos/{{cirurgia.id}}">
            <mat-icon>edit_note</mat-icon>
          </button>

          <button
            mat-icon-button
            matTooltip="Editar"
            color="primary"
            routerLink="/cirurgias/editar/{{cirurgia.id}}"
          >
            <mat-icon>edit_note</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Excluir"
            color="warn"
            routerLink="/cirurgias/excluir/{{cirurgia.id}}"
          >
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
