<div class="row justify-content-center align-items-center mt-5">
  <div class="col-md-5">
    <h1 class="fs-2">Editar Consulta</h1>

    <form [formGroup]="form!" (ngSubmit)="gravar()" class="d-grid mt-4">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input type="text" formControlName="Titulo" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data:</mat-label>
        <input type="date" formControlName="Data" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Hora Início:</mat-label>
        <input type="time" formControlName="HoraInicio" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Hora Término:</mat-label>
        <input type="time" formControlName="HoraTermino" matInput />
      </mat-form-field>

      <div class="form-group mb-3 position-relative">
        <label class="form-label">Médico:</label>
        <select
          class="form-select w-50"
          name="medicoId"
          formControlName="medicoId"
        >
          <option *ngFor="let medico" [ngValue]="medico.id">
            {{ medico.Nome }}
          </option>
        </select>
      </div>

      <div class="d-flex justify-content-end gap-2 mt-5">
        <button
          type="submit"
          class="py-3 px-5"
          color="primary"
          mat-raised-button
        >
          Salvar
        </button>
        <button
          routerLink="/consultas/listar"
          class="py-3 px-5"
          color="warn"
          mat-stroked-button
        >
          Voltar
        </button>
      </div>
    </form>
  </div>
</div>